// jQuery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
// Materialize - Compiled and minified JavaScript
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js")
block scripts
  script.
    // Materialize - Initializers
    $(document).ready(function(){
      $('.scrollspy').scrollSpy();
      // Initialize collapse button
      $(".button-collapse").sideNav({
          menuWidth: 190, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        }
      );
    });
// nothing to see here...
small
  |      ___                       ___           ___                    ___                                     ___
  |     /\  \                     /\__\         /\  \                  /\__\                      ___          /\__\
  |     \:\  \       ___         /:/ _/_        \:\  \                /:/ _/_       ___          /\  \        /:/ _/_
  |      \:\  \     /\__\       /:/ /\  \        \:\  \              /:/ /\__\     /\__\         \:\  \      /:/ /\__\
  |  ___ /::\  \   /:/__/      /:/ /::\  \   ___ /::\  \            /:/ /:/  /    /:/__/          \:\  \    /:/ /:/ _/_
  | /\  /:/\:\__\ /::\  \     /:/__\/\:\__\ /\  /:/\:\__\          /:/_/:/  /    /::\  \      ___  \:\__\  /:/_/:/ /\__\
  | \:\/:/  \/__/ \/\:\  \__  \:\  \ /:/  / \:\/:/  \/__/          \:\/:/  /     \/\:\  \__  /\  \ |:|  |  \:\/:/ /:/  /
  |  \::/__/       ~~\:\/\__\  \:\  /:/  /   \::/__/                \::/__/       ~~\:\/\__\ \:\  \|:|  |   \::/_/:/  /
  |   \:\  \          \::/  /   \:\/:/  /     \:\  \                 \:\  \          \::/  /  \:\__|:|__|    \:\/:/  /
  |    \:\__\         /:/  /     \::/  /       \:\__\                 \:\__\         /:/  /    \::::/__/      \::/  /
  |     \/__/         \/__/       \/__/         \/__/                  \/__/         \/__/      ~~~~           \/__/
