// Navigation Menu
nav(ng-class='hide-on-small-only')
  ul.side-nav.fixed.section.table-of-contents
    li.logo
      a#logo-container.brand-logo.teal-text(aria-label='Navigate to the beginning of the page', href='#intro')
        h1
          | Andrew Borstein
          span.brown-text.light Full Stack Developer
    li.bold
      a.waves-effect.waves-dark.teal-text(aria-label='Navigate to the About section', href='#about')
        i.mdi-social-person.small
        span About
    li.bold
      a.waves-effect.waves-dark.cyan-text(aria-label='Navigate to the Experience section', href='#experience')
        i.mdi-action-trending-up.small
        span Experience
    li.bold
      a.waves-effect.waves-dark.indigo-text(aria-label='Navigate to the Projects section', href='#projects')
        i.mdi-av-web.small
        span Projects
    li.bold
      a.waves-effect.waves-dark.purple-text(aria-label='Navigate to the Skills section', href='#skills')
        i.mdi-av-equalizer.small
        span Skills
    li.bold
      a.waves-effect.waves-dark.red-text(aria-label='Navigate to the Awards section', href='#awards')
        i.mdi-action-grade.small
        span Awards
    li.bold
      a.waves-effect.waves-dark.orange-text(aria-label='Navigate to the Education section', href='#education')
        i.mdi-social-school.small
        span Education
    li.bold
      a.waves-effect.waves-dark.brown-text(aria-label='Navigate to the Contact section', href='#contact')
        i.mdi-content-mail.small
        span Contact
    li.bold
      a.waves-effect.waves-dark.grey-text.text-darken-3(aria-label='Open Andrew\'s resume in a new tab', href='https://docs.google.com/document/d/1evlvmAcOmPTttl1isyX_UcQbLO5pK8OwB4Rs2Sv4riY', target='_blank')
        i.mdi-action-description.small
        span Resume
nav.hide-on-large.only.trigger.z-depth-1
  a.button-collapse(aria-label='Toggle visibility of the mobile navbar', href='#', data-activates='slide-out')
    i.mdi-navigation-menu
  .name-title
    a#name.teal-text(aria-label='Navigate to the beginning of the page', href='#main') Andrew Borstein
    span.brown-text.light Full Stack Developer
nav.hide-on-large.only
  ul#slide-out.side-nav
    li.bold
      a.waves-effect.waves-dark.teal-text(aria-label='Navigate to the About section', href='#about')
        i.mdi-social-person.small
        span About
    li.bold
      a.waves-effect.waves-dark.cyan-text(aria-label='Navigate to the Experience section', href='#experience')
        i.mdi-action-trending-up.small
        span Experience
    li.bold
      a.waves-effect.waves-dark.indigo-text(aria-label='Navigate to the Projects section', href='#projects')
        i.mdi-av-web.small
        span Projects
    li.bold
      a.waves-effect.waves-dark.purple-text(aria-label='Navigate to the Skills section', href='#skills')
        i.mdi-av-equalizer.small
        span Skills
    li.bold
      a.waves-effect.waves-dark.red-text(aria-label='Navigate to the Awards section', href='#awards')
        i.mdi-action-grade.small
        span Awards
    li.bold
      a.waves-effect.waves-dark.orange-text(aria-label='Navigate to the Education section', href='#education')
        i.mdi-social-school.small
        span Education
    li.bold
      a.waves-effect.waves-dark.brown-text(aria-label='Navigate to the Contact section', href='#contact')
        i.mdi-content-mail.small
        span Contact
    li.bold
      a.waves-effect.waves-dark.grey-text.text-darken-3(aria-label='Open Andrew\'s Resume in a new tab', href='https://docs.google.com/document/d/1evlvmAcOmPTttl1isyX_UcQbLO5pK8OwB4Rs2Sv4riY', target='_blank')
        i.mdi-action-description.small
        span Resume
