section#awards.section.scrollspy
  h3.page-title.white-text.teal Awards
  .container

    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://startupinstitute.com', target='_blank') Student Choice Award
            p.brown-text Startup Institute - Full Time Web Development | April 2017
            ul
              li Awarded by students in the Full-Time Web Development track to one instructor as recognition for "outstanding teaching, listening, mentoring."
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='https://wespire.com', target='_blank') Inspired By You Award
            p.brown-text WeSpire | June 2016
            ul
              li Quarterly award given to a team member who exemplifies WeSpire's purpose, vision, and values, goes above and beyond in their role to make a particularly positive impact on the company.

    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://startupinstitute.com', target='_blank') Owl Award
            p.brown-text Startup Institute | April 2016
            ul
              li Given to an alumnus who "continually gives back to the Startup Institute community with true humility, despite everyone knowing how awesome he is."

      .col.s12.m6
          .card
            .card-content
              p
                span.card-title
                  a.teal-text.hoverline(href='http://www.rhdri.org') Honorable Mention
              p.brown-text West Philly Homebrew Competition | May 2013
              ul
                li Neightborhood beer enthusiasts voted on their favorite local home-brewed beer. “Goldilocks" won in the "People's Choice" category.

    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.sas.upenn.edu/news/congratulations-our-dean%E2%80%99s-scholars', target='_blank') Dean's Scholar
            p.brown-text University of Pennsylvania | April 2013
            ul
              li One of only 20 students in the School of Arts &amp; Sciences nominated by faculty for "outstanding academic achievement and intellectual promise."
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.rhdri.org') Employee of the Year
            p.brown-text RHD-RI | Aug 2011
            ul
              li Nominated by management and coworkers for exceptional work ethic and dedication to clients.

    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://upenn.edu') Most Valuable Staff
            p.brown-text RHD-RI | Dec 2010
            ul
              li Awarded to the staff that went above in beyond in preparation, effort, and sales at the Winter Art show.
