section#contact.section.scrollspy.full-height
  h3.page-title.white-text.teal Contact
  .container
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Email Andrew', href='mailto:andrew@andrewborstein.com', data-position='top', data-tooltip='Email Andrew')
        i.fa.fa-envelope
        a.hoverline(alt='', href='mailto:andrew@andrewborstein.com') andrew@andrewborstein.com
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Andrew on GitHub', href='http://github.com/andrewborstein', target='_blank', data-position='top', data-tooltip='View Andrew on GitHub')
        i.fa.fa-github
        a.hoverline(alt='', href='http://github.com/andrewborstein') github.com/andrewborstein
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Andrew on LinkedIn', href='http://linkedin.com/in/andrewborstein', target='_blank', data-position='top', data-tooltip='View Andrew on LinkedIn')
        i.fa.fa-linkedin
        a.hoverline(alt='', href='http://linkedin.com/in/andrewborstein') linkedin.com/in/andrewborstein
