section#education.section.scrollspy
  h3.page-title.white-text.teal Education
  .container
    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://upenn.edu') University of Pennsylvania
            p.brown-text Philadelphia, PA
            ul
              li B.A. in Psychology
              li Summa Cum Laude
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.gwu.edu') George Washington University
            p.brown-text Washington, D.C.
            ul
              li B.A. candidate
