section#experience.section.scrollspy
  h3.page-title.white-text.teal Experience
  .container
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://wespire.com', target='_blank')
              img.responsive-img.center-block(src='/static/img/wespire-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://wespire.com', target='_blank') Wespire
        .role.brown-text Software Developer
        p
          em.grey-text Employee engagement platform that empowers forward-thinking global organizations to create brand value.
        h6 Develop Core Product
        ul
          li Verify, prioritize, and fix bugs in the product
          li Build new features (both via product roadmap and self-designed)
          li Tools and Languages: Github, Terminal, Ruby, Rails, Haml, Sass, Coffeescript, and HTML
      .card-action
        span Jan 2016 - Present  |  Boston, MA
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://wespire.com', target='_blank')
              img.responsive-img.center-block(src='/static/img/wespire-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://wespire.com', target='_blank') Wespire
        .role.brown-text QA Developer
        p
          em.grey-text Employee engagement platform that empowers forward-thinking global organizations to create brand value.
        h6 Manage Core Product
        ul
          li Oversee all major releases of enterprise software used by hundreds of thousands of users
          li Manage multiple github repos, heroku deployment servers, and postgres databases
          li Verify all new code (both manually and with automated tests)
          li Provide critical feedback to developers
        h6 Improve QA Operations
        ul
          li Automated Tests: Improve quality and accuracy, increase coverage to proactively prevent issues, optimize for speed and efficiency
          li Investigate and implement advantageous 3rd party testing integrations and tools
          li Communicate all engineering tasks and accomplishments internally to company
          li Tools and Languages: Github, Terminal, Rails, Capybara, Semaphore CI, CodeClimate, Hound, CrossBrowserTesting.com
        h6 Accomplishments
        ul
          li Created an automated ‘smoke test’ using Ruby and the CrossBrowserTesting.com API. It generates screenshots of specific parts of our app in testing environments, and then sends the links and results to a designated Slack #channel for review.
          li Streamlined our continuous integration test and deployment process. Through a combination of bash scripts and automated Semaphore build tasks, I was able to decrease the amount of time spent manually testing by an avg of 10/hrs week and increase the velocity of release deployment by 5x.
      .card-action
        span May 2015 - Dec 2015  |  Boston, MA
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.startupinstitute.com/curriculum/part-time/web-design/', target='_blank')
              img.responsive-img.center-block(src='/static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.startupinstitute.com/curriculum/part-time/web-design/', target='_blank') Startup Institute
        .role.brown-text Ramp Up Instructor: Web Design
        p
          em.grey-text 8-week curriculum for students enrolled in the part-time program
        ul
          li Teaching the basics of HTML, CSS, and the principles of responsive design
      .card-action
        span Jan 2016 - Present  |  Boston, MA
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://startupinstitute.com', target='_blank')
              img.responsive-img.center-block(src='/static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.startupinstitute.com/curriculum/part-time/web-design/', target='_blank') Startup Institute
        .role.brown-text Guest Instructor: Web Design
        p
          em.grey-text 2-day intensive and interactive courses to students enrolled in the full-time program
        ul
          li Topics include “Introduction to HTML/CSS” and “Fonts, Images, Layout”
      .card-action
        span Jun 2015 - Present  |  Boston, MA
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://startupinstitute.com', target='_blank')
              img.responsive-img.center-block(src='/static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://startupinstitute.com', target='_blank') Startup Institute
        .role.brown-text Web Dev Student
        p
          em.grey-text Competitive , 8-week immersive program that helps individuals to develop the skills, mindset, and network to be high-impact at a high-growth company.
        ul
          li Technology - Ruby on Rails, Git, AWS, Heroku, Node.js
          li Practices - Agile development tactics, test-driven development, mobile-first methodology
      .card-action
        span Feb 2014 - Apr 2014  |  Boston, MA
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://brownborgstudios.com', target='_blank')
              img.responsive-img.center-block(src='/static/img/brownborg-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://brownborgstudios.com', target='_blank') Brownborg Studios
        .role.brown-text Founder & Developer
        p
          em.grey-text Small web development and design studio for businesses, non-profits, and individuals
        ul
          li Creating easy-to-use CMS websites for clients for local and international clients
          li Managing all accounting, communication, and project management
          li Generated over $40k in revenue within first year of business, without marketing or promotion
      .card-action
        span July 2010 - Present  |  Providence, RI
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://equalaccessri.org', target='_blank')
              img.responsive-img.center-block(src='/static/img/equal-access-ri.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://equalaccessri.org', target='_blank') Equal Access RI
        .role.brown-text Creative Strategist
        p
          em.grey-text Accessibility consultancy and advocacy project founded by individual with Cerebral Palsy
        ul
          li Mentored the founder and led a small team in business and creative strategies
          li Designed visual branding, wrote copy, and developed website
          li Garnered a front-page Providence Journal article within first 9 months
      .card-action
        span Mar 2014 - Feb 2015  |  Pawtucket, RI
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://rhdri.org', target='_blank')
              img.responsive-img.center-block(src='/static/img/rhdri-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://rhdri.org', target='_blank') RHD-RI
        .role.brown-text Direct Support Professional
        p
          em.grey-text Non-profit, arts-based day program for adults with disabilities 
        ul
          li Supported over forty clients daily in a fast-paced, team environment
          li Created new method for organizing staff information and clients’ goals, still in use today
          li Awarded Employee of the Year out of 30+ employees after only one year of service
          li Awarded Most Valuable Staff at Winter Art Show for highest sales and unique client product
      .card-action
        span Feb 2010 - Sept 2011  |  Pawtucket, RI
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://montyarei.com', target='_blank')
              img.responsive-img.center-block(src='/static/img/monty-are-i-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://montyarei.com', target='_blank') Monty Are I
        .role.brown-text Co-Founder &amp; Touring / Recording Artist
        p
          em.grey-text Five piece “action rock” band from Cranston, RI
        ul
          li Built a successful and sustainable small-business with four other founders
          li Wrote, produced, and recorded five albums both independently and under Island/DefJam
          li Completed 7 full US tours, including one headlining tour
          li Created, recruited and managed 2000 member promotional street team
      .card-action
        span 2004 - 2010  |  USA
