section#experience.section.scrollspy
  h3.page-title.white-text.teal Experience
  .container

    //- WeSpire - Software Developer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://wespire.com', target='_blank')
              img.responsive-img.center-block(src='static/img/wespire-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://wespire.com', target='_blank') Wespire
        .role.brown-text Full-Stack Software Developer
        p
          em.grey-text Employee engagement platform that empowers forward-thinking global organizations to create brand value.
        h6 Develop Core Product
        ul
          li Verify, prioritize, and fix software bugs
          li Build new features, both via product roadmap and self-designed
          li Manage feature sprint life cycle
            ul
              li process product requirements
              li assess current functionality
              li estimate total work time and merge dates
              li break down feature into smaller deliverables
              li solicit feedback regularly
              li continuously measure and document progress
              li analyze sprint execution retrospectively
          li Stack: Ruby / Rails / Postgres / Coffeescript / jQuery / Sass / Haml
        h6 Accomplishments
        ul
          li Developed admin tool to automatically convert HRIS employee lists to users, significantly increasing total membership for new clients and simplifying user onboarding
          li Implemented and customized a Facebook-style inline @tagging feature to increase app share-ability
          li WakaTime - Top WeSpire team contributor, occasional top ten global leaderboard for weekly usage
          li Github - 20,000+ lines contributed to code base
      .card-action
        span Jan 2016 - Present  |  Boston, MA

    //- WeSpire - QA Developer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://wespire.com', target='_blank')
              img.responsive-img.center-block(src='static/img/wespire-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://wespire.com', target='_blank') Wespire
        .role.brown-text QA Developer
        p
          em.grey-text Employee engagement platform that empowers forward-thinking global organizations to create brand value.
        h6 Manage Core Product
        ul
          li Oversee software releases and manage multiple repos, deployment servers, and databases
          li Manually test all new code and provide critical feedback to developers
        h6 Improve QA Operations
        ul
          li Automated Tests: Improve accuracy, increase coverage, and optimize speed
          li Investigate and implement third party testing integrations and tools
          li Communicate all engineering tasks and accomplishments internally to company
          li Tools: Capybara / Semaphore / CodeClimate / Hound / CrossBrowserTesting.com
        h6 Accomplishments
        ul
          li Created an automated ‘smoke test’ using Ruby and the CrossBrowserTesting.com API — generates screenshots of the application on different browsers and devices, and sends the results to Slack for review.
          li Streamlined our continuous integration test and deployment process — through a combination of bash scripts and automated Semaphore build tasks, I decreased manually testing time by an avg of 10/hrs week and increased release deployment velocity by 5x.
      .card-action
        span May 2015 - Dec 2015  |  Boston, MA

    //- SI - Fundamentals Instructor
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.startupinstitute.com/', target='_blank')
              img.responsive-img.center-block(src='static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.startupinstitute.com/curriculum/fundamental-skills-classes/web-design/', target='_blank') Fundamentals Classes
        .role.brown-text Instructor & Curriculum Designer
        p
          em.grey-text 8-week course for students enrolled in the Fundamentals Classes Intro to Web Design
        ul
          li Teaching the basics of HTML, CSS, and the principles of responsive design.
          li Currently redesigning and building a new, improved Web Design curriculum to be implemented across all SI channels in 2017
        h6 Accomplishments
        ul
          li Increased the average student retention rate from less than 40% to more than 95%
          li Doubled the average amount of students that move from Funamdentals Classes to the Full-Time program
      .card-action
        span Jan 2016 - Present  |  Boston, MA

    //- SI - Community Class Instructor
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.startupinstitute.com/', target='_blank')
              img.responsive-img.center-block(src='static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.eventbrite.com/e/boston-community-class-building-a-webpage-with-bootstrap-tickets-29157196961', target='_blank') Community Class
        .role.brown-text Instructor
        p
          em.grey-text One-off community class open to the public and sponsored by Resilient Coders
        ul
          li Taught an introductory seminar covering HTML, CSS, and primarily Bootstrap, with a one-page website deliverable
      .card-action
        span Nov 2016 |  Boston, MA

    //- SI - Full-Time Instructor
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http:/startupinstitute.com', target='_blank')
              img.responsive-img.center-block(src='static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.startupinstitute.com/curriculum/full-time-program/web-design/', target='_blank') Full-Time Program
        .role.brown-text Instructor
        p
          em.grey-text 2-day intensive and interactive courses to students enrolled in the Full-Time Web Design Program
        ul
          li Topics include “Introduction to HTML/CSS” and “Fonts, Images, Layout”
      .card-action
        span Jun 2015 - Present  |  Boston, MA

    //- SI - Web Dev Student
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http:/startupinstitute.com', target='_blank')
              img.responsive-img.center-block(src='static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http:/startupinstitute.com', target='_blank') Startup Institute
        .role.brown-text Web Dev Student
        p
          em.grey-text Competitive , 8-week immersive program that helps individuals to develop the skills, mindset, and network to be high-impact at a high-growth company.
        ul
          li Technology - Ruby on Rails, Git, AWS, Heroku, Node.js
          li Practices - Agile development tactics, test-driven development, mobile-first methodology
      .card-action
        span Feb 2014 - Apr 2014  |  Boston, MA

    //- Brownborg Studios
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://brownborgstudios.com', target='_blank')
              img.responsive-img.center-block(src='static/img/brownborg-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://brownborgstudios.com', target='_blank') Brownborg Studios
        .role.brown-text Founder & Developer
        p
          em.grey-text Small web development and design studio for businesses, non-profits, and individuals
        ul
          li Creating easy-to-use CMS websites for clients for local and international clients
          li Managing all accounting, communication, and project management
          li Generated over $40k in revenue within first year of business, without marketing or promotion
      .card-action
        span July 2010 - Present  |  Providence, RI

    //- Equal Access RI
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://equalaccessri.org', target='_blank')
              img.responsive-img.center-block(src='static/img/equal-access-ri.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://equalaccessri.org', target='_blank') Equal Access RI
        .role.brown-text Creative Strategist
        p
          em.grey-text Accessibility consultancy and advocacy project founded by individual with Cerebral Palsy
        ul
          li Mentored the founder and led a small team in business and creative strategies
          li Designed visual branding, wrote copy, and developed website
          li Garnered a front-page Providence Journal article within first 9 months
      .card-action
        span Mar 2014 - Feb 2015  |  Pawtucket, RI

    //- RHD-RI
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://rhdri.org', target='_blank')
              img.responsive-img.center-block(src='static/img/rhdri-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://rhdri.org', target='_blank') RHD-RI
        .role.brown-text Direct Support Professional
        p
          em.grey-text Non-profit, arts-based day program for adults with disabilities 
        ul
          li Supported over forty clients daily in a fast-paced, team environment
          li Created new method for organizing staff information and clients’ goals, still in use today
          li Awarded Employee of the Year out of 30+ employees after only one year of service
          li Awarded Most Valuable Staff at Winter Art Show for highest sales and unique client product
      .card-action
        span Feb 2010 - Sept 2011  |  Pawtucket, RI

    //- Monty Are I
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.google.com/search?q=Monty+Are+I', target='_blank')
              img.responsive-img.center-block(src='static/img/monty-are-i-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.google.com/search?q=Monty+Are+I', target='_blank') Monty Are I
        .role.brown-text Co-Founder &amp; Touring / Recording Artist
        p
          em.grey-text Five piece “action rock” band from Cranston, RI
        ul
          li Built a successful and sustainable small-business with four other founders
          li Wrote, produced, and recorded five albums both independently and under Island/DefJam
          li Completed 7 full US tours, including one headlining tour
          li Created, recruited and managed 2000 member promotional street team
      .card-action
        span 2004 - 2010  |  USA
