section#experience.section.scrollspy
  h3.page-title.white-text.teal Experience
  .container

    //- WeSpire - Software Developer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://wespire.com', target='_blank')
              img.responsive-img.center-block(alt='WeSpire logo', src='static/img/wespire-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://wespire.com', target='_blank') Wespire
        .role.brown-text Full-Stack Software Developer
        p
          em.grey-text SaaS platform that enables enterprise companies to build, run, and measure their positive impact campaigns
        h6 Develop Product
        ul
          li Contribute core features across entire stack (20k+ lines of code, 250+ pulls)
          li Lead front-end development, creating and documenting app-wide design system
          li Oversee transition from page-based styles to modular component styles
          li Guide best practices around accessible, semantic UI/UX
          li Tools: Ruby, Rails, PostgreSQL // React, JS, jQuery // Sass // HTML, JSX, Haml

        h6 Accomplishments
        ul
          li Dramatically increased speed of UI development using atomic, scalable CSS
          li Built tool to convert HRIS data into user accounts to simplify onboarding
          li Implemented inline @tagging feature to increase app share-ability
      .card-action
        span Jan 2016 - Present  |  Boston, MA

    //- WeSpire - QA Developer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://wespire.com', target='_blank')
              img.responsive-img.center-block(alt='WeSpire logo', src='static/img/wespire-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://wespire.com', target='_blank') Wespire
        .role.brown-text QA Developer
        p
          em.grey-text SaaS platform that enables enterprise companies to build, run, and measure their positive impact campaigns
        ul
          li Improved accuracy, coverage, and speed of automated tests
          li Created an automated ‘smoke test’ using Ruby and the CrossBrowserTesting API
          li Streamlined CLI and deployment, saving 10/hrs week and increasing releases 5x
      .card-action
        span May 2015 - Dec 2015  |  Boston, MA

    //- SI - Introductory Instructor
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.startupinstitute.com/', target='_blank')
              img.responsive-img.center-block(alt='Startup Institute logo', src='static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.startupinstitute.com/intro-courses/web-design/', target='_blank') Intro Course
        .role.brown-text Instructor & Curriculum Designer
        p
          em.grey-text 8-week course for students enrolled in the Fundamentals Classes Intro to Web Design
        ul
          li Teaching the basics of HTML, CSS, and the principles of responsive design.
          li Currently redesigning and building a new, improved Web Design curriculum to be implemented across all SI channels in 2018
        h6 Accomplishments
        ul
          li Increased the average student retention rate from less than 40% to more than 95%
          li Doubled the average amount of students that move from Funamdentals Classes to the Full-Time program
      .card-action
        span Jan 2016 - Present  |  Boston, MA

    //- SI - Community Class Instructor
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.startupinstitute.com/', target='_blank')
              img.responsive-img.center-block(alt='Startup Institute logo', src='static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.eventbrite.com/e/boston-community-class-building-a-webpage-with-bootstrap-tickets-29157196961', target='_blank') Community Class
        .role.brown-text Instructor
        p
          em.grey-text One-off community class open to the public and sponsored by Resilient Coders
        ul
          li Taught an introductory seminar covering HTML, CSS, and primarily Bootstrap, with a one-page website deliverable
      .card-action
        span Nov 2016 |  Boston, MA

    //- SI - Full-Time Program
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http:/startupinstitute.com', target='_blank')
              img.responsive-img.center-block(alt='Startup Institute logo', src='static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.startupinstitute.com/courses/', target='_blank') Full-Time Program
        .role.brown-text Instructor
        p
          em.grey-text 2-day intensive and interactive courses and lab work with students in the Full Time program.

        h6 Web Design topics
        ul
          li Intro to HTML/CSS
          li Fonts, Images,
          li Responsive Design
          li CSS Frameworks

        h6 Web Development topics
        ul
          li Intro to MVC Rails App
          li Rails Associations
          li Basic Layout and CSS Best Practices
      .card-action
        span Jun 2015 - Present  |  Boston, MA

    //- SI - Web Dev Student
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http:/startupinstitute.com', target='_blank')
              img.responsive-img.center-block(alt='Startup Institute logo', src='static/img/si-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http:/startupinstitute.com', target='_blank') Startup Institute
        .role.brown-text Web Dev Student
        p
          em.grey-text Competitive , 8-week immersive program that helps individuals to develop the skills, mindset, and network to be high-impact at a high-growth company.
        ul
          li Technology - Ruby on Rails, Git, AWS, Heroku, Node.js
          li Practices - Agile development tactics, test-driven development, mobile-first methodology
      .card-action
        span Feb 2014 - Apr 2014  |  Boston, MA

    //- Brownborg Studios
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://brownborgstudios.com', target='_blank')
              img.responsive-img.center-block(alt='Brownborg Studios logo', src='static/img/brownborg-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://brownborgstudios.com', target='_blank') Brownborg Studios
        .role.brown-text Founder & Developer
        p
          em.grey-text Small web development and design studio for businesses, non-profits, and individuals
        ul
          li Creating easy-to-use CMS websites for clients for local and international clients
          li Managing all accounting, communication, and project management
          li Generated over $40k in revenue within first year of business, without marketing or promotion
      .card-action
        span July 2010 - Present  |  Providence, RI

    //- Equal Access RI
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://equalaccessri.org', target='_blank')
              img.responsive-img.center-block(alt='Equal Access RI logo', src='static/img/equal-access-ri.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://equalaccessri.org', target='_blank') Equal Access RI
        .role.brown-text Creative Strategist
        p
          em.grey-text Accessibility consultancy and advocacy project founded by individual with Cerebral Palsy
        ul
          li Mentored the founder and led a small team in business and creative strategies
          li Designed visual branding, wrote copy, and developed website
          li Garnered a front-page Providence Journal article within first 9 months
      .card-action
        span Mar 2014 - Feb 2015  |  Pawtucket, RI

    //- Center for Autism Research
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.centerforautismresearch.org/', target='_blank')
              img.responsive-img.center-block(alt='Equal Access RI logo', src='static/img/chop.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.centerforautismresearch.org/', target='_blank') Center for Autism Research
        .role.brown-text Research Assistant
        p
          em.grey-text Joint center of The Children’s Hospital of Philadelphia and the University of Pennsylvania
        ul
          li Observed clinical evaluations of children with ASD provided support to clinicians
          li Developed new data entry forms for research intake
      .card-action
        span Sep 2011 - Apr 2013  |  Philadelphia, PA

    //- RHD-RI
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://rhdri.org', target='_blank')
              img.responsive-img.center-block(alt='RHD-RI logo', src='static/img/rhdri-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://rhdri.org', target='_blank') RHD-RI
        .role.brown-text Direct Support Professional
        p
          em.grey-text Non-profit, arts-based day program for adults with disabilities 
        ul
          li Supported over forty clients daily in a fast-paced, team environment
          li Created new method for organizing staff information and clients’ goals, still in use today
          li Awarded Employee of the Year out of 30+ employees after only one year of service
          li Awarded Most Valuable Staff at Winter Art Show for highest sales and unique client product
      .card-action
        span Feb 2010 - Sept 2011  |  Pawtucket, RI

    //- Monty Are I
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.google.com/search?q=Monty+Are+I', target='_blank')
              img.responsive-img.center-block(alt='Monty Are I logo', src='static/img/monty-are-i-logo.png')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='https://www.google.com/search?q=Monty+Are+I', target='_blank') Monty Are I
        .role.brown-text Co-Founder &amp; Touring / Recording Artist
        p
          em.grey-text Five piece “action rock” band from Cranston, RI
        ul
          li Built a successful and sustainable small-business with four other founders
          li Wrote, produced, and recorded five albums both independently and under Island/DefJam
          li Completed 7 full US tours, including one headlining tour
          li Created, recruited and managed 2000 member promotional street team
      .card-action
        span 2004 - 2010  |  USA
