section#projects.section.scrollspy
  h3.page-title.white-text.teal Projects
  .container
    .row
      // BlogSpire
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Screenshot of BlogSpire web app', src='static/img/blogspire.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline BlogSpire
              i.mdi-navigation-more-vert.right
            p Blogging web app created for the Engineering team at WeSpire.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li #[strong Ruby on Rails] backend
              li #[strong Materialize CSS] frontend
              li User #[strong authentication] via Devise
              li Implemented #[strong liking functionality]
              li #[strong Client-side rendering] via AJAX
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Code Island website', href='https://blogspire.herokuapp.com/', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Code Island project', href='https://github.com/andrewborstein/blogspire', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
      // Code Island
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Code Island logo', src='static/img/code-island.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Code Island
              i.mdi-navigation-more-vert.right
            p Online headquarters for the local Code for America brigade in Rhode Island.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Integrated “Next Meeting” via #[strong Meetup API]
              li Developed #[strong CSS and JS] responsive menu
              li Created member list via #[strong GitHub API]
              li Refreshed branding and layout
              li Refactored all existing code (#[strong Jekyll])
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Code Island website', href='http://code-island.org', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Code Island project', href='http://github.com/andrewborstein/code-island.org', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
      // Saved By the Text
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Zach Morris from Saved by the Bell, on his clunky cell phone', src='static/img/saved-by-the-text.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Saved By the Text
              i.mdi-navigation-more-vert.right
            p Fun, TV nostalgia-themed app that sends an MMS to a user's phone number.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Built with Ruby on #[strong Rails]
              li Integrated #[strong Twilio API]
              li Designed in #[strong Bootstrap]
              li #[strong Javascript] input validation
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Saved By The Test web app', href='http://savedbythetext.herokuapp.com', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Saved By the Text project', href='http://github.com/andrewborstein/saved-by-the-text', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
      // Skate Something
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Skate boarder catching air on a half pipe', src='static/img/skate-something.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Skate Something
              i.mdi-navigation-more-vert.right
            p Mobile-focused web app where users can explore, collect, and share skate spots.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Front-end development in #[strong Bootstrap]
              li Contributed creative strategy and UX
              li Built dynamic templates using #[strong Jade]
              li Worked with #[strong MVC] framework, #[strong Node] server
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Skate Something web app', href='http://skatesomething.com', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Skate Something project', href='#', data-position='top', data-tooltip='Source is Private')
                i.fa.fa-github
      // RI WiFi
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='RI WiFi logo', src='static/img/ri-wifi.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline RI WiFi
              i.mdi-navigation-more-vert.right
            p Sortable database of WiFi-enabled spots with details for laptop users. 
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Ruby on #[strong Rails] &amp; #[strong Bootstrap]
              li #[strong Google Maps API]
              li Native Javascript #[strong geolocation]
              li #[strong Dynamic CSS] color coding
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit RI WiFi web app', href='http://ri-wifi.herokuapp.com', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for RI WiFi project', href='http://github.com/andrewborstein/ri-wifi', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
      // Pinterest
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Cute kitten', src='static/img/pinteresting.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Pinteresting
              i.mdi-navigation-more-vert.right
            p Lite Pinterest clone, where users can 'pin' photos, especially those of cats.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Ruby on #[strong Rails] &amp; #[strong Bootstrap]
              li Image upload with #[strong AWS]
              li #[strong jQuery] Masonry effect
              li User Authentication with #[strong Devise]
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Pinteresting web app', href='http://asb-pinteresting.herokuapp.com', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Pinteresting project', href='http://github.com/andrewborstein/pinteresting', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
      // Shelter Finder
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Screenshot of Google map with pins on it', src='static/img/shelter-finder.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Shelter Finder
              i.mdi-navigation-more-vert.right
            p Web app that helps Boston teens find the nearest available short-term housing.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Ruby on #[strong Rails] backend API
              li #[strong AJAX] query of Rails #[strong JSON]
              li Custom #[strong Google Maps API] integration
              li Automatic location/distance calculation
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Sehlter Finder website', href='http://shelterfinder.herokuapp.com', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Shelter Finder project', href='http://github.com/andrewborstein/youth-shelter-finder', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
      // Custom Social Feed
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Chandon logo', src='static/img/chandon.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Custom Social Feed
              i.mdi-navigation-more-vert.right
            p AJAX Twitter and Instagram feed of specific #hashtag posts.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Fully customized #[strong jQuery] plugin
              li Integrates #[strong Twitter and Instagram API]
              li Matches Chandon's exact branding
              li Built into custom #[strong Tumblr] theme
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Chandon Tumblr website', href='http://chandonusa.tumblr.com/pour-on-the-fun', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
      // Guestlist Generator
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Header typography for Ryan and Christie wedding site', src='static/img/guest-list.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Guestlist Generator
              i.mdi-navigation-more-vert.right
            p Automatically converts RSVP submissions into wedding guestlist.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Simple #[strong Wordpress] shortcode
              li Pulls data from a customized form
              li Displays styled results on any page
              li Built with #[strong PHP] and #[strong Wordpress] functions
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Wedding Guestlist website', href='http://ryanandchristieswedding.com/guest-list/', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
      // Portfolio Madlibs
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Andrew playfully posing with face half covered by laptop', src='static/img/madlibs.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Portfolio MadLibs
              i.mdi-navigation-more-vert.right
            p Have fun with my personal profile by replacing random words.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Custom #[strong jQuery] script
              li Hover and click actions
              li Pulls from random word array
              li Hours of fun!
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Portfolio Madlibs website', href='http://andrewborstein.github.io/portfolio-madlibs/andrew.html', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the Portfolio Madlibs project', href='http://github.com/andrewborstein/portfolio-madlibs', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
      // Cidewalk for Etsy
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Cidewalk logo', src='static/img/cidewalk.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Cidewalk for Etsy
              i.mdi-navigation-more-vert.right
            p UI redeisgn of the popular mobile ad platform, styled for Etsy users.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Restyled UI, design, and branding
              li Reorganized user process and flow
              li Built with #[strong Angular] and #[strong Bootstrap]
              li
                a(aria-label='', href='http://app.cidewalk.com') Original &amp;&nbsp;
                a(aria-label='', href='http://etsy.cidewalk.com') Redesign
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Cidewalk web app', href='https://etsy.cidewalk.com', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
      // Brownborg Studios
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Brownborg Studios logo', src='static/img/brownborg-studios.jpg')
          .card-content
            span.card-title.activator.teal-text.hoverline Website Portfolio
              i.mdi-navigation-more-vert.right
            p Over a dozen powerful, easy-to-use CMS websites built for local and international clients.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li #[strong Customized] themes and plugins
              li Wordpress, Squarespace &amp; Tumblr
              li Fully #[strong responsive] designs
              li Unique admin experiences
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit Brownborg Studios website', href='http://brownborgstudios.com/portfolio', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
