section#skills.section.scrollspy
  h3.page-title.white-text.teal Skills
  .container
    .card
      .card-content
        h4.brown-text.light Front-End
        .row.text-center
          .col.s4.m2
            img.responsive-img(src='/static/img/html5.png')
            | HTML5
          .col.s4.m2
            img.responsive-img(src='/static/img/css3.png')
            | CSS3
          .col.s4.m2
            img.responsive-img(src='/static/img/jquery.png')
            | jQuery
          .col.s4.m2
            img.responsive-img(src='/static/img/coffeescript.png')
            | CoffeeScript
          .col.s4.m2
            img.responsive-img(src='/static/img/sass.png')
            | SASS
          .col.s4.m2
            img.responsive-img(src='/static/img/less.png')
            | LESS
    .card
      .card-content
        h4.brown-text.light Frameworks
        .row.text-center
          .col.s4.m2
            img.responsive-img(src='/static/img/angular.png')
            | Angular
          .col.s4.m2
            img.responsive-img(src='/static/img/wordpress.png')
            | Wordpress
          .col.s4.m2
            img.responsive-img(src='/static/img/tumblr.png')
            | Tumblr
          .col.s4.m2
            img.responsive-img(src='/static/img/bootstrap.png')
            | Bootstrap
          .col.s4.m2
            img.responsive-img(src='/static/img/jekyll.png')
            | Jekyll
          .col.s4.m2
            img.responsive-img(src='/static/img/jade.png')
            | Jade
    .card
      .card-content
        h4.brown-text.light Back-End
        .row.text-center
          .col.s4.m2
            img.responsive-img(src='/static/img/ruby.png')
            | Ruby
          .col.s4.m2
            img.responsive-img(src='/static/img/rails.png')
            | Rails
          .col.s4.m2
            img.responsive-img(src='/static/img/rspec.png')
            | Rspec
          .col.s4.m2
            img.responsive-img(src='/static/img/php.png')
            | PHP
          .col.s4.m2
            img.responsive-img(src='/static/img/nodejs.png')
            | Node
    .card
      .card-content
        h4.brown-text.light Other
        .row.text-center
          .col.s4.m2
            img.responsive-img(src='/static/img/github.png')
            | Github
          .col.s4.m2
            img.responsive-img(src='/static/img/heroku.png')
            | Heroku
          .col.s4.m2
            img.responsive-img(src='/static/img/photoshop.png')
            | Photoshop
          .col.s4.m2
            img.responsive-img(src='/static/img/fcpx.png')
            | Final Cut Pro
