section#skills.section.scrollspy
  h3.page-title.white-text.teal Skills
  .container

    //- HTML
    .card
      .card-content
        h4.brown-text.light HTML
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/html5.png')
            | HTML5
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/react.png')
            | JSX
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/haml.png')
            | Haml
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/jade.png')
            | Jade
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/jekyll.png')
            | Jekyll

    //- CSS
    .card
      .card-content
        h4.brown-text.light CSS
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/css3.png')
            | CSS3
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/sass.png')
            | SASS
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/bootstrap.png')
            | Bootstrap
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/foundation.png')
            | Foundation
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/materialize.png')
            | Materialize


    //- Javascript
    .card
      .card-content
        h4.brown-text.light Javascript
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/react.png')
            | React
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/javascript.png')
            | Javascript
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/jquery.png')
            | jQuery
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/angular.png')
            | Angular
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/nodejs.png')
            | Node
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/ionic.png')
            | Ionic

    //- Back-End
    .card
      .card-content
        h4.brown-text.light Back-End
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/ruby.png')
            | Ruby
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/rails.png')
            | Rails
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/minitest.png')
            | Minitest
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/postgresql.png')
            | PostgreSQL
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/mongodb.png')
            | MongoDB

    //- Build Tools
    .card
      .card-content
        h4.brown-text.light Build Tools
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/webpack.png')
            | Webpack
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/gulp.png')
            | Gulp
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/grunt.png')
            | Grunt
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/bower.png')
            | Bower

    //- CMS
    .card
      .card-content
        h4.brown-text.light CMS
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/wordpress.png')
            | Wordpress
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/tumblr.png')
            | Tumblr
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/squarespace.png')
            | Squarespace

    //- Other
    .card
      .card-content
        h4.brown-text.light Other
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/github.png')
            | Github
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/heroku.png')
            | Heroku
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/photoshop.png')
            | Photoshop
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/fcpx.png')
            | Final Cut Pro
