doctype
html(lang='en')
  head
    include global/head
  body
    include global/nav
    // Main Content
    main
      include sections/intro
      include sections/about
      include sections/experience
      include sections/projects
      include sections/skills
      include sections/awards
      include sections/education
      include sections/contact
    include global/foot
